<header class="header">
  <div class="logo">
    <a href="/">MyShop</a>
  </div>
  <nav class="nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/products">Products</a></li>
      <li><a href="/admin/products">Admin</a></li>
    </ul>
  </nav>
</header>
