<%- include('includes/reusable.ejs') %>
    <main>
        <h2>Enter your info</h2>
        <form action="/users" method="POST">
            <input type="text" placeholder="Username..." name="username" >
            <button type="submit">Enter</button>
        </form>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente et incidunt maiores esse, dicta officia ad iusto provident recusandae accusantium.</p>
    </main>
</body>
</html>