<%- include('includes/reusable.ejs') %>
    <h2>Users Page</h2>
    <ul class="user-carts">
        <%if(listOfUsers.length > 0){%>
            <%for(let user of listOfUsers){%>
        <li class="cart">
           <article>
            <img class="user-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnSA1zygA3rubv-VK0DrVcQ02Po79kJhXo_A&s" alt="User">
            <h4><%=user.username%></h4>
           </article> 
        </li>
        <%}%>
        <%}else{%> 
            <h4>There are no users...</h4>
            <%}%>
    </ul>
</body>
</html>