    <header>
      <ul>
        <li><a class="<%=isActive === '/shop' ? 'active' : ''%>" href="/">Shop</a></li>
        <li><a class="<%=isActive === '/add-product' ? 'active' : ''%>"  href="/add-product">Add Product</a></li>
      </ul>
    </header>