<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
      <header>
      <ul class="header-items">
        <li><a href="/"  class="header-item">Home</a></li>
        <li><a href="/users"  class="header-item">Users</a></li>
      </ul>
    </header>

    <div class="home-content">
      <form class="add-user" action="/users" method="POST">
          <input type="text" name="username" placeholder="Enter username...">
          <button>Add User</button>
      </form>
      <h1>This is a dummy content for my third assignment</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima culpa
        repellat tempora repudiandae molestiae, eaque ipsam reprehenderit
        perferendis necessitatibus impedit laborum veritatis provident beatae ab
        id nisi enim officiis tempore?
      </p>
    </div>
  </body>
</html>
