<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
      <ul class="header-items">
        <li><a href="/"  class="header-item">Home</a></li>
        <li><a href="/users"  class="header-item">Users</a></li>
      </ul>
    </header>

    <ul class="cardWrapper">
        <li class="card">
            <h1>Dzemil Karisik</h1>
            <p>Novi Pazar</p>
            <p>Avnoja L/33</p>
            <h2>Frontend Developer</h2>
        </li>
        <li class="card">
            <h1>Dzemil Karisik</h1>
            <p>Novi Pazar</p>
            <p>Avnoja L/33</p>
            <h2>Frontend Developer</h2>
        </li>
        <li class="card">
            <h1>Dzemil Karisik</h1>
            <p>Novi Pazar</p>
            <p>Avnoja L/33</p>
            <h2>Frontend Developer</h2>
        </li>
    </ul>
</body>
</html>