<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style.css">
    <title>ToDo App</title>
</head>
<body>
    <header>
        <h1>ToDo</h1>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">New ToDo</a></li>
            <li><a href="">All ToDo's</a></li>
        </ul>
    </header>
    <section>
            <main>
                <h1>Dobro Dosao u Klub sedni udobno se smjesti</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro consequatur distinctio recusandae debitis a totam tempore laudantium dignissimos mollitia fuga!</p>
                <button>Klikni me</button>
                <button>Jok bre klikni mene </button>
            </main>
    </section>
</body>
</html>