    <%-include('./includes/header.ejs')%>
    <section>
            <main>
                <h1>ToDo App</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro consequatur distinctio recusandae debitis a totam tempore laudantium dignissimos mollitia fuga!</p>
                <button>Add ToDo</button>
                <button>All ToDo's</button>
            </main>
    </section>
</body>
</html>