    <%-include('../includes/header') -%>

    <main class="container">
            <h1 class="h1-style">Add Product</h1>
            <form class="add_product_form" action="/admin/add-product" method="post">
                <input placeholder="Title" type="text" name="title" id="">
                <input placeholder="Price" type="number" name="price" id="">
                <textarea placeholder="Description" name="description" id=""></textarea> 
                <button type="submit">Add Product</button>
            </form>
    </main>

    <%-include('../includes/footer') -%>