<%- include('../includes/header') %>

<h1>Admin Products</h1>
<p>Manage your shop's products here.</p>

<section class="product-list">
  <ul>
        <%for(const prod of prods){%>
        <li class="product-item">
        <h2><%=prod.title%></h2>
        <p><%=prod.price%></p>
         <a href="#" class="btn btn-edit">Edit</a>
        <a href="#" class="btn btn-delete">Delete</a>
        </li> 
      <%}%>
  </ul>
</section>

<%- include('../includes/footer') %>
