<% include('../includes/layout') %>

<h1>Admin Products Page</h1>

<section class="admin-actions">
  <a href="/admin/add-product" class="btn">Add New Product</a>
</section>

<section class="product-list">
  <% if (products && products.length > 0) { %>
    <ul>    
      <% products.forEach(product => { %>
        <li class="product-item">
          <h2><%= product.title %></h2>
          <p>Price: $<%= product.price %></p>
          <a href="/admin/edit-product/<%= product.id %>" class="btn btn-edit">Edit</a>
          <a href="/admin/delete-product/<%= product.id %>" class="btn btn-delete">Delete</a>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>No products found. Add some!</p>
  <% } %>
</section>
