<%- include('includes/start.ejs') %>
<%- include('includes/navigation.ejs') %>

<h2>Shop Page</h2>
<ul class="user-carts">
    <% if (prods.length > 0) { %>
        <% for (let product of prods) { %>
            <li class="cart">
                <article>
                    <img class="user-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnSA1zygA3rubv-VK0DrVcQ02Po79kJhXo_A&s" alt="User">
                    <h4><%= product.username %></h4>
                </article> 
            </li> 
        <% } %>
    <% } else { %>
        <h1>There is no product item!</h1>
    <% } %>
</ul>

<%- include('includes/end.ejs') %>
